product/app/TrichromeLibrary64/TrichromeLibrary64.apk
product/app/Photos/Photos.apk
product/app/Messages/Messages.apk
product/priv-app/GmsCore/GmsCore.apk
product/priv-app/Velvet/Velvet.apk
bootRE/boot.elf
recovery.img
boot.img
